@font-face {
	font-family: 'Articulat CF';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url('ArticulatCF-Regular.woff') format('woff');
}

@font-face {
	font-family: 'Articulat CF';
	font-style: normal;
	font-weight: 500;
	font-display: swap;
	src: url('ArticulatCF-Medium.woff') format('woff');
}

@font-face {
	font-family: 'Articulat CF';
	font-style: normal;
	font-weight: 600;
	font-display: swap;
	src: url('ArticulatCF-Demibold.woff') format('woff');
}

@font-face {
	font-family: 'Articulat CF';
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url('ArticulatCF-Bold.woff') format('woff');
}
