.cards-grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 24px;
	margin-top: 64px;
}

.education-card {
	border: 1px solid var(--border-color);
	border-radius: 16px;
	padding: 36px;
}

.image-wrapper {
	width: 80px;
	height: 80px;
	border-radius: 50%;
	border: 1px solid var(--border-color);
	box-shadow: 0px 10px 16px rgba(0, 0, 0, 0.05);
	margin-bottom: 28px;
	overflow: hidden;
	display: grid;
	place-content: center;
}
.image-wrapper img {
	width: 56px;
	height: 56px;
}
.education-title {
	font-size: 28px;
	font-weight: 600;
	line-height: 1.25;
}
.education-description {
	color: var(--text-light);
	margin-top: 12px;
	margin-bottom: 28px;
	font-size: 18px;
}
.education-year {
	font-weight: 500;
}

@media (max-width: 767px) {
	.cards-grid {
		gap: 18px;
		margin-top: 56px;
	}
	.image-wrapper {
		margin-bottom: 22px;
	}
	.education-title {
		font-size: 24px;
	}
	.education-card {
		padding: 28px;
	}
}

@media (max-width: 639px) {
	.cards-grid {
		grid-template-columns: 1fr;
	}
	.education-card {
		padding: 28px 22px;
	}
}
