@font-face {
	font-family: 'SF Pro';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url('SFProDisplay-Regular.woff2') format('woff2'),
		url('SFProDisplay-Regular.woff') format('woff');
}

@font-face {
	font-family: 'SF Pro';
	font-style: normal;
	font-weight: 500;
	font-display: swap;
	src: url('SFProDisplay-Medium.woff2') format('woff2'),
		url('SFProDisplay-Medium.woff') format('woff');
}

@font-face {
	font-family: 'SF Pro';
	font-style: normal;
	font-weight: 600;
	font-display: swap;
	src: url('SFProDisplay-Semibold.woff2') format('woff2'),
		url('SFProDisplay-Semibold.woff') format('woff');
}

@font-face {
	font-family: 'SF Pro';
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url('SFProDisplay-Bold.woff2') format('woff2'), url('SFProDisplay-Bold.woff') format('woff');
}
